<div class="header-container">
  <div class="header">
    <img id="logo" src="logo_fondoBlanco.png"/>
    <h1 [routerLink]="['']">MyAnimalShop</h1>
    <a [routerLink]="['/auth/login']">
      <img class="user" src="https://img.icons8.com/?size=100&id=43942&format=png&color=000000"/>
    </a>
    <img id="wish-list" src="https://img.icons8.com/?size=100&id=25653&format=png&color=000000"/>
    <img id="shop" src="https://img.icons8.com/?size=100&id=9671&format=png&color=000000"/>
  </div>
</div>
