
<section class="add-address-form">
  <h2>Add Address</h2>
  <form (ngSubmit)="onSubmit()" #addressForm ="ngForm">
    <section class="form-group">

      <input type="text" [(ngModel)]="country" name="country" [ngClass]="{'invalid': invalid[0]}" required id="city" placeholder="Enter country">
      <div class="alert" *ngIf="invalid[0]">
        {{errorMessages[0]}}
      </div>

      <input type="text" [(ngModel)]="city" name="city" [ngClass]="{'invalid': invalid[1]}" required id="state" placeholder="Enter city">
      <div class="alert" *ngIf="invalid[1]">
        {{errorMessages[1]}}
      </div>

      <input type="text" [(ngModel)]="postal" name="postal" [ngClass]="{'invalid': invalid[2]}" required id="zip" placeholder="Enter zip">
      <div class="alert" *ngIf="invalid[2]">
        {{errorMessages[2]}}
      </div>

      <input type="text" [(ngModel)]="street" name="street" [ngClass]="{'invalid': invalid[3]}" required id="address" placeholder="Enter street">
      <div class="alert" *ngIf="invalid[3]">
        {{errorMessages[3]}}
      </div>

      <input type="text" [(ngModel)]="house" name="house" [ngClass]="{'invalid': invalid[4]}" required id="address" placeholder="Enter house number">
      <div class="alert" *ngIf="invalid[4]">
        {{errorMessages[4]}}
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </section>
  </form>
</section>
