<div class="container_sing_up">
  <h2>Sing Up</h2>
  <form (ngSubmit)="createUser()" #loginForm="ngForm">
    <input id="sing_up_input"
      [(ngModel)]="name"
      name="name"
      type="text"
      placeholder="Name"
      [ngClass]="{'invalid': invalid[0]}"
      required
    >
    <div *ngIf="invalid[0]" class="alert">
      {{ errorMessages[0] }}
    </div>
    <input class="sing_up_input"
      [(ngModel)]="gmail"
      name="gmail"
      placeholder="Gmail"
      [ngClass]="{'invalid': invalid[1]}"
      required
    >
    <div *ngIf="invalid[1]" class="alert">
      {{ errorMessages[1] }}
    </div>
    <input class="sing_up_input"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      [ngClass]="{'invalid': invalid[2]}"
      required
    >
    <div *ngIf="invalid[2]" class="alert">
      {{ errorMessages[2] }}
    </div>
    <input class="sing_up_input"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Password"
      [ngClass]="{'invalid': invalid[3]}"
      required
    >
    <div *ngIf="invalid[3]" class="alert">
      {{ errorMessages[3] }}
    </div>
    <button type="submit">SING UP</button>
  </form>
</div>
