.search-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.search-container img{
  height: 20px;
}

.search-box{
  width: 30%;
  border-bottom: 5px solid;
  border-color: #41b5e6;
}

.search{
  width: 95%;
  outline: none;
  border: none;
}
