/* You can add global styles to this file, and also import other style files */
body{
  display: grid;
  grid-template-rows: auto,1fr;
  grid-template-areas:
    "header"
    "main";
    height: 100vh;
    margin: 0;
    gap: 100px;
}
